/* DASHBOARD BUTTON */
button.dashboard-btn {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, #211d28, #361f5f);
  color: white;
  border-radius: 0.125rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-style: solid;
  border-width: 1px;
  border-color: #8036ff;
}
button.dashboard-btn:after {
  content: "Dashboard";
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  background-image: linear-gradient(to bottom, #8036ff, #8036ff);
  opacity: 0;
  transition: all 0.2s ease-in-out;
  /* glow effect box shadow */
  box-shadow: 0 0.25px 7.5px #8036ff;
}

button.dashboard-btn:hover:after {
  opacity: 1;
}

/* STAR BUTTON */
button.star-btn {
  display: block;
  position: relative;
  color: white;
  border-radius: 0.125rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff00;
}

button.star-btn:hover {
  border-color: #ffffff30;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.15s ease-in-out;
}
button.star-btn .star {
  fill: transparent;
  transition: fill 0.15s ease-in-out;
}

button.star-btn:hover .star {
  fill: #ffffff;
}
.star-btn .text {
  display: block;
}
/* media query */
@media (max-width: 768px) {
  button.star-btn .text {
    display: none;
  }
  button.star-btn {
    padding: 0.35rem;
  }
}
